In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_excel("DataSet.xlsx")
dataset.head(10)

,qd,gos,training2,creadit3,capital,gender,experience,age,education,STT
0,0,0,1,1,1.5,0,8,45,5,1
1,0,0,1,0,0.3,0,1,29,12,2
2,0,0,0,0,9.0,1,5,35,18,3
3,1,0,1,0,9.5,1,12,56,10,4
4,0,0,0,0,13.0,1,8,50,32,5
5,0,1,0,1,5.0,0,8,47,16,6
6,0,0,0,0,2.0,1,12,58,16,7
7,0,0,1,1,0.3,0,3,34,8,8
8,0,0,0,0,4.0,0,5,51,12,9
9,0,0,0,1,1.5,1,3,35,0,10

In [3]:
corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm')

In [4]:
# input
x = dataset.iloc[:, [1,2,3,4,5,6,7,8]].values

# output
y = dataset.iloc[:,0].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset[["gos","training2","creadit3","capital","gender","experience","age","education"]],dataset["qd"], test_size = 0.2)
TargetDataFrameTrain = pd.DataFrame(X_train,columns= ["GOS", "training2", "creadit3", "capital", "gender", "experience", "age", "education"])
TargetDataFrameTrain.insert(8, "qd", y_train, True)
TargetDataFrameTrain.insert(9, "INDEX", X_train.index.values, True)
TargetDataFrameTrain.to_excel("RequestedTraindata.xlsx")

In [13]:
print(X_train.index.values)

[307  54 161 290  93  13 178 271 289 226 185 309 173  34 142 105 239 234
 150  89   5  26 374 218 134 253 242 102 376 326 136 124 108 333  74  16
 364  76 244  81 184  24 397 235  53 322 318 291 402 363 152 368  27 313
 202 196 362 284  11  91 220  78 125 203 135  19  84 181  46 160 292 114
 379  83 154 214 390 400  21 348 308 163  64 304 273 104 222 238 365 207
 385  52 137 310 197   9 261 382 129 255 306 298  25 103 155 349 329  44
 371 369 192 193 338 316 287 263 168 159  42 286 227 370  49 170  31 351
 377 245 145  39 335  98 230 262 336   8 229 270  61  96 174 267  90 294
 141 280 250 224  80  14 106 183  99 148 165 198 123 398 133 199 342  94
 120  92 325 111  71 175 117 180 266 295 389 332 311  22 172 237 164 317
 296 112 324  51 288 151 188 394 139  88 241 249 259 210 107 217  69 118
 206 283  82  40 297 191 258 361  50 121 305 212 381 372 205  72 147  28
 268  38 373 388 246 345 194  56 282 128 116  59 211 100  73  97  35 251
 233 216 215 131  41 247 190 236 391 401 354 384 264 149 301 130 320  65
  10 153  15 383 200 208 223  20  66 300 179  95 240  18 228 321 187 276
  67  87 219 339 279  12 352 275 110  48  55 277 302 330 359 143  36  63
 353   7 315  33 195 293 269 176 355  60 146   0  45  32   1 225 138 367
  75  43 232 177 127 303 122 158 346 358 328  85 392 213 360 380 341]

In [17]:
import statsmodels.api as sm
logit_model = sm.Logit(y_train,X_train)
result = logit_model.fit(disp=0)
#display(result.summary())

# ListCoef = [exec(f"x{i}ZValue = ") for i in range(1:9)]

while(True):
    X_train, X_test, y_train, y_test = train_test_split(dataset[["gos","training2","creadit3","capital","gender","experience","age","education"]],dataset["qd"], test_size = 0.2)
    logit_model = sm.Logit(y_train,X_train)
    result = logit_model.fit(disp=0)
    
    x3ZValue = result.tvalues[2]
    x5ZValue = result.tvalues[4]

    x3Coef = result.params[2]
    x5Coef = result.params[4]
    if((abs(x3ZValue) > 1.96 and abs(x5ZValue) < 1.96 ) and (x3Coef > 0 and x5Coef >0)):
        display(result.summary())
        display(pd.DataFrame(X_train,columns= ["gos", "training2", "creadit3", "capital", "gender", "experience", "age", "education"]))
        break

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                     qd   No. Observations:                  323
Model:                          Logit   Df Residuals:                      315
Method:                           MLE   Df Model:                            7
Date:                Thu, 24 Nov 2022   Pseudo R-squ.:                 0.09766
Time:                        22:56:31   Log-Likelihood:                -162.14
converged:                       True   LL-Null:                       -179.69
Covariance Type:            nonrobust   LLR p-value:                 1.072e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
gos            1.5818      0.408      3.873      0.000       0.781       2.382
training2      0.5493      0.286      1.923      0.054      -0.010       1.109
creadit3       0.6194      0.299      2.075      0.038       0.034       1.204
capital        0.0497      0.036      1.398      0.162      -0.020       0.119
gender         0.0119      0.276      0.043      0.966      -0.529       0.553
experience     0.3531      0.072      4.936      0.000       0.213       0.493
age           -0.1096      0.018     -6.166      0.000      -0.144      -0.075
education      0.0369      0.023      1.586      0.113      -0.009       0.082
==============================================================================
"""

     gos  training2  creadit3  capital  gender  experience  age  education
264    0          1         1     0.92       1           7   43         13
213    0          1         0    10.00       1           3   29         12
37     0          0         0     9.00       1           4   47         20
376    0          1         0     2.00       1           1   41         12
6      0          0         0     2.00       1          12   58         16
..   ...        ...       ...      ...     ...         ...  ...        ...
9      0          0         1     1.50       1           3   35          0
1      0          1         0     0.30       0           1   29         12
390    1          1         1     7.00       0          11   55         20
396    0          0         0     9.50       1           8   37          8
166    0          0         1    12.00       1           2   43          8

[323 rows x 8 columns]

In [58]:
for i in range(8):
    exec(f"x{i}ZValue = result.tvalues[{i}]")
for i in range(8):
    exec(f"x{i}Coef = result.params[{i}]")

In [117]:
def ConvertCondition(string):
    string = string.lower()
    string = string.replace("+",">")
    string = string.replace("yes",">")
    string = string.replace("no","<")
    string = string.replace("-","<")
    Condition = string.split(", ")
    return Condition

Check = 0
print(FinalCondition)
def CheckCondition():
    for i in range(0,8):
        stringC1 = FinalCondition[i][0]
        stringC2 = FinalCondition[i][1]
        Scondition = f"""
if(x{i}Coef {stringC1} 0 and x{i}ZValue {stringC2} 1.96):
    Check += 1
        """
        exec(Scondition, globals())
CheckCondition()
print(Check)
def change():
    global Check
    Check = "Hello"

change()
print(Check)

[['>', '>'], ['>', '>'], ['>', '>'], ['>', '<'], ['>', '<'], ['>', '>'], ['<', '<'], ['>', '<']]
8
Hello

In [112]:

FinalCondition = []
for i in range(1,9):
    exec(f"""
while(True):
    Condition = ConvertCondition(input("Input condition of x{i}:")) 
    if(len(Condition) < 2):
        Condition = ConvertCondition(input("Input condition of x{i}:")) 
    if(len(Condition) > 1):
        FinalCondition.append(Condition)
        break
    """)
    
        
print(FinalCondition)
Check = False
Scondition = f"""
if(x1Coef{Condition1[0]}0 ):
    Check = True
"""
exec(Scondition)
print(Check)

Input condition of x1: +, yes
Input condition of x2: +, yes
Input condition of x3: +, yes
Input condition of x4: +, no
Input condition of x5: +, no
Input condition of x6: +, yes
Input condition of x7: -, no
Input condition of x8: +, no

[['>', '>'], ['>', '>'], ['>', '>'], ['>', '<'], ['>', '<'], ['>', '>'], ['<', '<'], ['>', '<']]
False

In [ ]:
"1,1".split(", ")