In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_excel("DataSet.xlsx")
dataset.head(10)

   qd  gos  training2  creadit3  capital  gender  experience  age  education
0   0    0          1         1      1.5       0           8   45          5
1   0    0          1         0      0.3       0           1   29         12
2   0    0          0         0      9.0       1           5   35         18
3   1    0          1         0      9.5       1          12   56         10
4   0    0          0         0     13.0       1           8   50         32
5   0    1          0         1      5.0       0           8   47         16
6   0    0          0         0      2.0       1          12   58         16
7   0    0          1         1      0.3       0           3   34          8
8   0    0          0         0      4.0       0           5   51         12
9   0    0          0         1      1.5       1           3   35          0

In [3]:
corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm')

In [4]:
# input
x = dataset.iloc[:, [1,2,3,4,5,6,7,8]].values

# output
y = dataset.iloc[:,0].values

In [119]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
TargetDataFrameTrain = pd.DataFrame(X_train,columns= ["GOS", "training2", "creadit3", "capital", "gender", "experience", "age", "education"])
TargetDataFrameTrain.insert(8, "qd", y_train, True)
TargetDataFrameTrain.to_excel("RequestedTraindata.xlsx")

In [118]:
import statsmodels.api as sm
logit_model = sm.Logit(y_train,X_train)
result = logit_model.fit(disp=0)
#display(result.summary())

# ListCoef = [exec(f"x{i}ZValue = ") for i in range(1:9)]

while(True):
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
    logit_model = sm.Logit(y_train,X_train)
    result = logit_model.fit(disp=0)
    
    x3ZValue = result.tvalues[2]
    x5ZValue = result.tvalues[4]

    x3Coef = result.params[2]
    x5Coef = result.params[4]
    if((abs(x3ZValue) > 1.96 and abs(x5ZValue) < 1.96 ) and (x3Coef > 0 and x5Coef >0)):
        display(result.summary())
        display(pd.DataFrame(X_train,columns= ["GOS", "training2", "creadit3", "capital", "gender", "experience", "age", "education"]))
        break

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  323
Model:                          Logit   Df Residuals:                      315
Method:                           MLE   Df Model:                            7
Date:                Thu, 24 Nov 2022   Pseudo R-squ.:                  0.1019
Time:                        03:12:35   Log-Likelihood:                -163.38
converged:                       True   LL-Null:                       -181.91
Covariance Type:            nonrobust   LLR p-value:                 4.575e-06
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.4811      0.388      3.813      0.000       0.720       2.242
x2             0.6230      0.280      2.221      0.026       0.073       1.173
x3             0.6438      0.292      2.202      0.028       0.071       1.217
x4             0.0594      0.036      1.668      0.095      -0.010       0.129
x5             0.1873      0.273      0.687      0.492      -0.347       0.722
x6             0.3111      0.070      4.423      0.000       0.173       0.449
x7            -0.1074      0.017     -6.220      0.000      -0.141      -0.074
x8             0.0381      0.023      1.670      0.095      -0.007       0.083
==============================================================================
"""

     GOS  training2  creadit3  capital  gender  experience   age  education
0    1.0        1.0       0.0     0.35     1.0         2.0  30.0        3.0
1    0.0        1.0       1.0     1.00     1.0         5.0  36.0        6.0
2    0.0        1.0       0.0     1.00     0.0         1.0  30.0        9.0
3    0.0        1.0       0.0    12.00     0.0         7.0  54.0       16.0
4    0.0        1.0       0.0     1.50     1.0         1.0  40.0        9.0
..   ...        ...       ...      ...     ...         ...   ...        ...
318  0.0        1.0       0.0     4.00     0.0         3.0  35.0       11.0
319  0.0        0.0       0.0     2.00     0.0         8.0  55.0       12.0
320  0.0        1.0       0.0     1.00     0.0         4.0  28.0       12.0
321  0.0        0.0       0.0     9.00     1.0         5.0  42.0       20.0
322  0.0        0.0       0.0     5.00     0.0         5.0  37.0       13.0

[323 rows x 8 columns]

In [58]:
for i in range(8):
    exec(f"x{i}ZValue = result.tvalues[{i}]")
for i in range(8):
    exec(f"x{i}Coef = result.params[{i}]")

In [117]:
def ConvertCondition(string):
    string = string.lower()
    string = string.replace("+",">")
    string = string.replace("yes",">")
    string = string.replace("no","<")
    string = string.replace("-","<")
    Condition = string.split(", ")
    return Condition

Check = 0
print(FinalCondition)
def CheckCondition():
    for i in range(0,8):
        stringC1 = FinalCondition[i][0]
        stringC2 = FinalCondition[i][1]
        Scondition = f"""
if(x{i}Coef {stringC1} 0 and x{i}ZValue {stringC2} 1.96):
    Check += 1
        """
        exec(Scondition, globals())
CheckCondition()
print(Check)
def change():
    global Check
    Check = "Hello"

change()
print(Check)

[['>', '>'], ['>', '>'], ['>', '>'], ['>', '<'], ['>', '<'], ['>', '>'], ['<', '<'], ['>', '<']]
8
Hello

In [112]:

FinalCondition = []
for i in range(1,9):
    exec(f"""
while(True):
    Condition = ConvertCondition(input("Input condition of x{i}:")) 
    if(len(Condition) < 2):
        Condition = ConvertCondition(input("Input condition of x{i}:")) 
    if(len(Condition) > 1):
        FinalCondition.append(Condition)
        break
    """)
    
        
print(FinalCondition)
Check = False
Scondition = f"""
if(x1Coef{Condition1[0]}0 ):
    Check = True
"""
exec(Scondition)
print(Check)

Input condition of x1: +, yes
Input condition of x2: +, yes
Input condition of x3: +, yes
Input condition of x4: +, no
Input condition of x5: +, no
Input condition of x6: +, yes
Input condition of x7: -, no
Input condition of x8: +, no

[['>', '>'], ['>', '>'], ['>', '>'], ['>', '<'], ['>', '<'], ['>', '>'], ['<', '<'], ['>', '<']]
False

In [ ]:
"1,1".split(", ")